.footer{
    background-color: var(--color-nav);
    font-size: 1.2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 0 0 10px #00000083;
    margin: 0 auto;
    width: 100vw;
   
    
}

.footer div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.footer div a{
    text-decoration: none;
    color: #000;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    text-align: center;
   width: 100%;
}
.dog{
    transform: translateY(43%);
}
.footer a{
    text-align: left;
}

.footer i{
    color: #000;
    padding-right: 10px;
}

@media screen and (max-width: 864px) {
    .footer{
        font-size: 1rem;
        padding: 1rem;
    }
}
@media screen and (max-width: 668px) {
    .footer{
        font-size: 1rem;
        padding: 1rem;
        width: 100%;
        padding: 2rem 0;
    }
}

